body {
  background-color: #04161f;
  text-align: center;
  color: white;
}

/* main header */

h1 {
  color: white;
}

/* nav bar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  padding: 20px;
}

#nav-button {
  margin-right: 10px;
  margin-left: 10px;
}

/* home page */

.home-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  /* border: solid rgb(179, 29, 29) 2px; */
}

.card-body {
  color: #04161f;
}
p {
  color: #055712;
}

#article-body {
  margin-left: 10%;
  margin-right: 10%;
}

.article-p {
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
