body {
  background-color: #04161f;
  text-align: center;
  color: white;
}

/* main header */

h1 {
  color: white;
}

/* nav bar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  padding: 20px;
}

#nav-button {
  margin-right: 10px;
  margin-left: 10px;
}

#sort-by {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
}

#sort-dropdown {
  padding-right: 10px;
}

/* home page */

.home-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  /* border: solid rgb(179, 29, 29) 2px; */
}

.card-body {
  color: #04161f;
}
p {
  color: #055712;
}
.comment-card {
  color: white;
}

#article-body {
  margin-left: 10%;
  margin-right: 10%;
}
.article-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logged-in {
  padding-top: 0;
  margin-right: 10px;
}

.article-p {
  color: white;
}

ol {
  padding: 0;
}

ul {
  padding-right: 8%;
  padding-left: 8%;
  text-align: left;
}

li {
  list-style-type: none;
}
p.card-text {
  margin-top: 2%;
  margin-bottom: 0;
  text-align: left;
  color: #04161f;
}
