body {
  background-image: linear-gradient(to right, #04161f, #132f3d);
  /* background-color:#04161f ; */
  text-align: center;
  color: white;
}

/* main header */

h1 {
  color: white;
}

/* nav bar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  padding: 20px;
}

#nav-button {
  margin-right: 10px;
  margin-left: 10px;
}

#sort-by {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

#sort-dropdown {
  padding-left: 10px;
}

/* home page */

.home-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  /* border: solid rgb(179, 29, 29) 2px; */
}

.card-body {
  color: #04161f;
}

.comment-card {
  color: white;
}

#article-body {
  margin-left: 10%;
  margin-right: 10%;
}
.article-card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logged-in {
  padding: 0;
  margin-right: 2%;
}
.card-body {
  color: #04161f;
}
.article-p {
  color: white;
}

ol {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* div.card{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

ul {
  padding-right: 8%;
  padding-left: 8%;
  text-align: left;
}

li {
  list-style-type: none;
  margin: 10px;
  /* height: 20rem; */
}
.articleCards {
  background-color: white;
  color: #06141b;
  padding: 3%;
  padding-top: 0;
  border-radius: 20px 50px;
}
.cardInfo {
  padding-bottom: 0;
  padding-top: 1.5em;
}
h3 {
  font-family: "Times New Roman", Times, serif;
}
.card-text {
  margin-top: 2%;
  margin-bottom: 0;
  text-align: left;
  color: #04161f;
}

#article-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#article-p-info {
  color: white;
  margin-top: 4%;
}

#delete-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.voteButton {
  border-radius: 50%;
}
@media only screen and (max-width: 800px) {
  ol {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  #main-nav {
    overflow: hidden;
    background-color: #06141b;
  }
  .articleCards {
    border-radius: 20px;
  }
  .home-list {
    padding-right: 2%;
    padding-left: 2%;
  }
  .content {
    padding: 1px;
  }

  .sticky {
    position: sticky;

    top: 0;
    width: 100%;
  }

  .content + .sticky {
    padding-top: 60px;
  }
}
#articleBody {
  text-align: justify;
}
