.App {
}
body {
  background-color: #04161f;

  /* border: solid white 2px; */
}
h1 {
  text-align: center;
  color: white;
  /* border: solid white 2px; */
}
.router {
  text-align: center;
  justify-content: center;
  color: white;
  /* border: solid white 2px; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  /* border: solid white 2px; */
}

.button-nav {
  text-align: center;
}
.nav-bar {
  color: white;
  padding: 15px;
}
.card-body {
  color: #04161f;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
}
.list {
  display: grid;
  grid-template-columns: 1fr, 2.5fr, 1.5fr, 1fr;
  border: solid white 2px;
}
ul {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: center;
  border: solid white 2px;
}

li {
  list-style-type: none;
}

.test {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  border: solid white 2px;
}
